<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.css}"/>
    <script th:src="@{/AdminLTE/bower_components/select2/vendor/jquery-2.1.0.js}"></script>
    <script th:src="@{/AdminLTE/bower_components/bootstrap/dist/js/boostrap.js}"></script>
    <style>
        body {
            color: aqua;
        }
    </style>
    <script>
        function showdem0() {
            parent.showdem00();
        }
        function showdem1() {
            parent.showdem01();
        }
        function showdem2() {
            parent.showdem02();
        }
        function showdem3() {
            parent.showdem03();
        }
    </script>
</head>
<body style="overflow-y: auto;height: 350px">
<button class="btn btn-default" type="button" onclick="showdem0()">矿山初始形态</button>
<button class="btn btn-default" type="button" onclick="showdem1()">矿山整平后形态</button>
<button class="btn btn-default" type="button" onclick="showdem2()">矿山施工过程中形态</button>
<button class="btn btn-default" type="button" onclick="showdem3()">矿山修复后形态</button>
</body>
</html>