<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>洪水淹没</title>
    <meta charset="utf-8" />
    <style>
        body {
            color: aqua;
        }
    </style>
</head>
<body>
<div id="analyFlood">
    <div class="">
        <div class="" style="">模型模拟</div>
        <table class="">
            <tr class="">
                <td>间隔系数</td>
                <td>
                    <input id="n" value="1" type="text" class="" />
                </td>
            </tr>
            <tr class="analysis-tr">
                <td></td>
                <td>
                    <input id="showModel" type="button" onclick="parent.showModel()" class="" value="显示模型"/>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
